<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "Segoe UI", TAhoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" action="/user">
        <label for="">Enter Your Full Name</label>
        <input type="text" required name="name">
        <label for="">Enter email</label>
        <input type="text" required name="email">
        <label for="">Enter Passowrd</label>
        <input type="text" required name="password">
        <button type="submit">Signup</button>
    </form>
</body>
</html>